#ajout_piece{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

#ajout_piece.show{
    opacity: 1;
    pointer-events: initial;
}