#bloc-pagination{
    /* background-color: violet; */
    padding: 10px 0;
    /* position: absolute; */
    width: 100%;
    /* margin: 10px 0; */
    /* right: 10px; */
    /* left: 50%; */
    /* bottom: 5px; */
    /* transform: translateX(-50%); */
}

#bloc-pagination .container-pagination{
    position: relative;
    right: 10;
}

