#loading{
    /* background-color: #f1f1f1; */
    /* height: 100vh; */
    /* height: 10px; */
    position: relative;
}

#loading p{
    display: inline-block;
    font-size: 20px;
}

#loading ul{
    display: inline-block;
    margin-left: 5px;
}

#loading ul li{
    display: inline-block;
    font-size: 20px;
    margin: 0 2px;
    opacity: 0;
    height: 10px;
}

#loading ul .item-liste-1.show{
    opacity: 1;
}
#loading ul .item-liste-2.show{
    opacity: 1;
}
#loading ul .item-liste-3.show{
    opacity: 1;
}