#modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

#modal.show{
    opacity: 1;
    pointer-events: initial;
}

#modal .content-modal{
    position: relative;
    max-height: 95%;
    overflow-y: auto;
}

/* #modal .content-modal .container-btn-close{
    position: fixed;
    right: 10px;
}

#modal .content-modal .container-btn-close .icone{
    color: blueviolet!important;
} */