.bloc-sidebar-admin{
    background: rgb(33, 2, 71);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 225px;
    height: calc(100% - 9px);
    /* padding-left: 10px; */
    /* box-shadow: 7px 0 10px #eee; */
}
   

.bloc-sidebar-admin ul{
    /* position: relative;
    left: 17px; */
    /* background-color: violet; */
    width: 100%;
}

.bloc-sidebar-admin ul li{
    margin: 15px 0;
    width: 100%;
}



.bloc-sidebar-admin ul li a{
    /* background-color: #fff; */
    display: block;
    padding: 10px 0;
    color: #fff;
    margin: 15px 0;
}

.bloc-sidebar-admin ul li a.is-current{
    /* background-color: #fff; */
    /* background-color: #8a009f; */
    background-color: rgb(209, 39, 236);
    /* margin: 10px 0; */
}

.bloc-sidebar-admin ul li a:hover{
    background: rgb(209, 39, 236);
}

.btn-connexion-admin{
    position: absolute;
    bottom: 25px;
    left: 12%;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.2 ease-out;
    font-size: 18px;
}

.btn-connexion-admin:hover{
    color: #333;
}

.bloc-sidebar-admin .container-info-admin{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 25px 5px;
}