#main{
    position: relative;
    width: 100vw;
}

#main .container-main{
    position: relative;
}

#main .container-main .container-notification{
    position: fixed;
    left: 0;
    width: 225px;
    overflow-y: auto;
    scrollbar-width: thin;
    transition: all 0.5s ease-in-out;
}

#main .container-main .container-notification.show{
    width: 0;
}

#main .container-main .bloc-main{
    position: absolute;
    right: 0;
    width: calc(100% - 225px);
    transition: all 0.5s ease-in-out;
}

#main .container-main .bloc-main.show{
    width: 100vw;
}



/* Faire disparaitre le conteneur des evenements (agenda) a 1320px */
@media screen and (max-width: 1320px) {
    /* Conteneur de l'agenda */
    #main .container-main .container-notification{
        width: 0;
    }

    /* Conteneur des elements (remplir l'ecran) */
    #main .container-main .bloc-main{
        width: 100vw;
    }


    /* Bouton pour toggle le conteneur l'agenda */
    #main .container-main .bloc-main .container-btn-toggle-notification .icon{
        opacity: 0;
        pointer-events: none;
    }
}