#main-admin{
    width: 99vw;
    /* background-color: violet; */
    height: 100vh;
    border: 5px solid rgb(209, 39, 236);
}

#main-admin .bloc-body-admin{
    position: absolute;
    height: calc(100vh - 55px);
    /* height: 100%; */
    width: calc(100vw - 245px);
    /* top: 40px; */
    bottom: 0;
    right: 0;
    /* border: 1px solid black; */
    /* background-color: blue!important; */
}