#main-admin{
    width: 100vw;
    /* background-color: violet; */
    height: 100vh;
}

#main-admin .bloc-body-admin{
    position: absolute;
    height: calc(100vh - 40px);
    /* height: 100%; */
    width: 86vw;
    top: 40px;
    right: 0;
    /* border: 1px solid black; */
    /* background-color: blue!important; */
}